.practice-session__init-button {
	/*float: right;*/
}

.manifest-item[data-is-pinned], .manifest-item[data-is-pinned]:hover {
	background-color: aliceblue;
}

[data-is-pinned]::before {
	content: 'PINNED';
	color: black;
	margin-right: 5px;
	display: inline-block;
	font-weight: bold;
}

.manifest-item {
	display: flex;
}

.good, .bad, .pin {
	margin-left: 5px;
	margin-bottom: 2px;
	border: none;
}
.good {
	background-color: seagreen
}
.bad {
	background-color: indianred
}
.pin {
	background-color: dodgerblue
}

.manifest-item[data-score="good"], .manifest-item[data-score="good"]:hover {
	background-color: rgba(50, 250, 50, 0.3);
}

.manifest-item[data-score="bad"], .manifest-item[data-score="bad"]:hover {
	background-color: rgba(250, 50, 50, 0.3);
}

.manifest-item[data-score="awful"], .manifest-item[data-score="awful"]:hover {
	background-color: rgba(250, 50, 50, 0.5);
}